<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easy.boot.admin.generateConfig.mapper.GenerateConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.easy.boot.admin.generateConfig.entity.GenerateConfig">
        <id column="id" property="id" />
        <result column="type" property="type" />
        <result column="table_name" property="tableName" />
        <result column="comment" property="comment" />
        <result column="package_name" property="packageName" />
        <result column="request_mapping_prefix" property="requestMappingPrefix" />
        <result column="output_path" property="outputPath" />
        <result column="is_override" property="isOverride" />
        <result column="is_open" property="isOpen" />
        <result column="author" property="author" />
        <result column="enable_import" property="enableImport" />
        <result column="enable_export" property="enableExport" />
        <result column="enable_log" property="enableLog" />
        <result column="enable_builder" property="enableBuilder" />
        <result column="template_json" property="templateJson" />
        <result column="exclude_table_prefix" property="excludeTablePrefix" />
        <result column="exclude_table_suffix" property="excludeTableSuffix" />
        <result column="create_by" property="createBy" />
        <result column="create_username" property="createUsername" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_username" property="updateUsername" />
        <result column="update_time" property="updateTime" />
        <result column="is_del" property="isDel" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, type, table_name, comment, package_name, request_mapping_prefix, output_path, is_override, is_open, author, enable_import, enable_export, enable_log, enable_builder, template_json, exclude_table_prefix, exclude_table_suffix, create_by, create_username, create_time, update_by, update_username, update_time, is_del
    </sql>

</mapper>
